.App{
  background-image: url(./img/house.jpg);
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1px;
}
.title{
text-align: center;
position: relative;
display: block;
width: 100%;
margin: 0;
}
.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddRoom{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RoomProductGreen{
  background-color: green;
  height: 35px;
  border-radius: 6px;
}
.RoomProductRed{
  background-color: red;
}
.AppRoom ,.product .Add{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#plus{
  border-radius: 3rem;
  width: 50px;
  height: 50px;
}
#room{
  width: 150px;
  height: 30px;
}
.SmartMap{
  width: 278px;
  height: 71px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 0 0 21px;
}
.MapRoom{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.botRoom{
  width: 8rem;
  height: 4rem;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 1rem;
}
.bron {
  width:2rem ;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  padding: 3rem;
}


